<p>
  <strong>Title:</strong>
  <%= @tracker.api_name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @tracker.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @tracker.notes %>
</p>

<%= link_to 'Back', trackers_path %>
